[submodule "firmware/pico-sdk"]
	path = firmware/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "firmware/tinyusb"]
	path = firmware/tinyusb
	url = https://github.com/jfedor2/tinyusb
[submodule "firmware/TM1637-pico"]
	path = firmware/TM1637-pico
	url = https://github.com/wahlencraft/TM1637-pico.git
