name: build-nrf52
on:
  push:
    paths:
      - 'firmware/**'
      - 'firmware-bluetooth/**'
  workflow_call:
defaults:
  run:
    shell: bash --noprofile --norc -x -e -o pipefail {0}
jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        board: ["adafruit_feather_nrf52840", "seeed_xiao_nrf52840"]
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          docker run -v $PWD:/workdir/project -w /workdir/project/firmware-bluetooth nordicplayground/nrfconnect-sdk:v2.2-branch \
            west build -b ${{ matrix.board }}
          cp firmware-bluetooth/build/zephyr/remapper.uf2 firmware-bluetooth/remapper_${{ matrix.board }}.uf2
      - uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.board }}
          path: firmware-bluetooth/remapper_${{ matrix.board }}.uf2
